<div class="content" role="main">
  <span>From App Component</span>
</div>

<!-- <app-test></app-test>
<app-style-binding></app-style-binding>
<app-event-binding></app-event-binding>
<app-property-binding></app-property-binding>
<app-class-binding></app-class-binding>
<app-template-reference></app-template-reference>
<app-twoway-binding></app-twoway-binding>
<app-ifdirective></app-ifdirective>
<app-switch></app-switch>
<app-ngfor></app-ngfor>
<app-component-interaction></app-component-interaction>
<app-comp-pipes></app-comp-pipes>
-->

<employee-list></employee-list>
<employee-details></employee-details>

<router-outlet></router-outlet>
